* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* ===================== HEADER  ==================== */

header .main-nav {
  position: fixed;
  bottom: 0;
  background-color: cornflowerblue;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0.8em;
  z-index: 1000;
}

header .main-nav .navbar {

}

header .main-nav a i {
  font-size: 1.5em;
}

header .main-nav a .label {
  display: none;
}


/* ===================== MAIN  ==================== */

main {
  padding-bottom: 26px;
}
/* ---------- Monat und Jahr ---------- */
main h1 {
  color: #666666;
  padding: 0.5em;
  font-size: 16px;
  background-color: #f3f5f7;
}

main .entries {
  display: flex;
}

/* ---------- LINKS ---------- */

main .entries .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  flex: 0 0 50px;
}

main .entries .left .day {
  font-size: 12px;
  font-weight: 600;
  color: #242525;
}

main .entries .left .date {
  font-size: 17px;
  font-weight: 600;
  color: #242525;
}

/* ---------- MITTE ---------- */

main .entries .middle {
  color: #666666;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

main .entries .middle .middleBottom {
  gap: 0.5em;
  display: flex;
  font-size: 12px;
}

/* ---------- RECHTS ---------- */

main .entries .right {
  padding: 0.5em;
}

main .entries .right img {
  width: 80px;
  height: 80px;
  border-radius: 0.5em;
  object-fit: cover;
}

/* ---------- Hier Eingabefeld ---------- */

form {
  background-color: rgb(255, 80, 95);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 0.5em;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

/* ---------- Hier Ausgabefeld ---------- */

#entries div {
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 0.5rem;
  background-color: rgb(255, 80, 95);
}

#entries img {
  height: auto;
  max-width: 100%;
  display: block;
  border-radius: 0.5rem; /* optional: rundere Kanten */
}

.entry-date {
  color: #888;
  font-size: 0.8rem;
}

.entry-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-text {
  flex-grow: 1;
  padding-right: 1rem;
}

.entry-thumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* ==================== FOOTER =================== */

/* ==================== MEDIA QUERIES =================== */

@media (max-width: 768px){}